@font-face {
  font-family: "snap-font";
  src: url("../../../../../wp-includes/fonts/Ronde-B_square_snap2.woff") format("woff");
}

body {
  width: 100%;
  background-image: url("../img/tileable_wood_texture.png");
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

body .container {
  width: 100% !important;
}

body a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

body h1 {
  font-size: 1.8rem;
  color: black;
}

body h2 {
  font-size: 1.5rem;
  color: black;
}

body h3 {
  font-size: 1.3rem;
  color: black;
}

body h4 {
  font-size: 1.1rem;
  color: black;
}

body h5 {
  font-size: 1rem;
  color: black;
}

body h6 {
  font-size: 0.9rem;
  color: black;
}

body p {
  font-size: 1rem;
}

body li {
  font-size: 1rem;
}

body .is-style-sme-list-check li {
  font-size: 1rem;
  list-style: none;
}

body .is-style-sme-list-check li:before {
  top: calc(.1rem);
}

#footer {
  background-image: url("../img/cork-board.png");
  width: 100%;
  color: #331907;
}

#footer .container h2 {
  font-family: "snap-font", sans-serif;
  color: #331907;
}

#footer .container .widget {
  text-align: center;
  color: black;
}

#footer .widget ul li a {
  color: #331907;
}

#footer .widget ul li a:hover {
  color: gray;
}

#footer-copyright {
  text-align: center;
  color: #331907;
}

#top-area {
  background-image: url("../img/cork-board.png");
  font-family: "snap-font", sans-serif;
}

#top-area #logo h1 {
  font-family: "snap-font", sans-serif;
  font-size: 30px;
  padding-left: 10px;
}

.c-home__title {
  margin: 0 auto;
}

.c-home__title h2 {
  position: relative;
  letter-spacing: 10px;
  text-align: center;
  font-family: "snap-font", sans-serif;
  padding: 5px 0;
  font-weight: bold;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#f57c00), color-stop(60%, #ffb74d));
  background: linear-gradient(0deg, #f57c00 0% 60%, #ffb74d 60% 100%);
  -webkit-background-clip: text;
}

@media (max-width: 768px) {
  .c-home__title h2 {
    font-size: 28px;
    letter-spacing: 0px;
    border-bottom: solid 2px #f57c00;
  }
}

@media only screen and (min-width: 577px) {
  .c-home__title h2 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 820px) {
  .c-home__title h2 {
    font-size: 40px;
  }
}

.c-home__title h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#f57c00), to(transparent));
  background: linear-gradient(to right, #f57c00, transparent);
}

@media (max-width: 768px) {
  .c-home__title h2:after {
    display: none;
  }
}

.c-home__title p {
  font-size: 20px;
}

.product {
  margin: 0 auto 40px 0;
  padding: 0 15%;
}

.product p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .product {
    padding: 0 5%;
  }
}

.flow {
  margin: 0 auto 40px 0;
}

.price {
  margin: 0 auto 40px 0;
}

.contact {
  margin: 0 auto 40px 0;
}

.c-category__title {
  width: 33%;
  letter-spacing: 10px;
  margin: 0 auto;
  text-align: center;
}

.c-category__title h1 {
  font-size: 30px;
  font-family: "snap-font", sans-serif;
}

.c-category__title h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#666666), to(transparent));
  background: linear-gradient(to right, #666666, transparent);
}

/**
 * #.# Title
 */
#home-slider .post-titles, .gallery-slider .post-titles {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#home-slider .post-titles a, .gallery-slider .post-titles a {
  display: none;
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 10px;
  padding: 10px 18px;
  font-size: 24px;
  color: #EEE;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=0 );
  text-decoration: none;
}

#post-single-viewer {
  background-color: #ffffef;
  text-align: center;
}

#post-single-viewer img {
  max-width: 30%;
  height: auto;
  padding: 5% 0;
}

@media (max-width: 768px) {
  #post-single-viewer img {
    max-width: 100%;
  }
}

#c-home__slider {
  padding-top: 80px;
  max-width: 100%;
}

.flex-direction-nav .flex-next {
  right: 0  !important;
}

.c-home__delivery {
  width: 320px;
  margin: 40px auto 0px auto;
  text-align: center;
  position: relative;
  padding: 10px 10px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .c-home__delivery {
    width: 250px;
  }
}

.c-home__delivery h3 {
  font-size: 16px;
}

.c-home__delivery h3 span {
  font-size: 40px;
}

@media (max-width: 768px) {
  .c-home__delivery h3 {
    font-size: 16px;
  }
  .c-home__delivery h3 span {
    font-size: 24px;
  }
}

.c-home__delivery:before, .c-home__delivery:after {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  border-top: 4px dotted #000;
}

.c-home__delivery:before {
  top: 6px;
}

.c-home__delivery:after {
  bottom: 6px;
}

.c-contact__button {
  width: 300px;
  margin: 80px auto 0 auto;
  background-color: #f57c00;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-bottom: 5px solid #cc6600;
  -webkit-box-shadow: 1px 1px 2px;
          box-shadow: 1px 1px 2px;
  position: relative;
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  .c-contact__button {
    width: 250px;
  }
}

.c-contact__button:hover {
  background-color: #f59331;
  margin: 83px auto 0 auto;
  border-bottom: 2px solid #cc6600;
}

.c-contact__button a {
  font-size: 24px;
}

.c-contact__button a::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 90%;
  margin-top: -8px;
}

@media (max-width: 768px) {
  .c-contact__button a::before {
    display: none;
  }
}

.c-contact__button a::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 87%;
  margin-top: -8px;
}

@media (max-width: 768px) {
  .c-contact__button a::after {
    display: none;
  }
}

.c-page__title {
  letter-spacing: 10px;
  margin: 0 auto;
  text-align: center;
}

.c-page__title h1 {
  font-size: 30px;
  font-family: "snap-font", sans-serif;
}

.p-home__service {
  margin-top: 160px;
  padding: 0 15%;
}

@media (max-width: 768px) {
  .p-home__service {
    padding: 0 5%;
    margin-top: 80px;
  }
}

.p-home__product {
  margin-top: 160px;
}

@media (max-width: 768px) {
  .p-home__product {
    margin-top: 80px;
  }
}

.p-home__flow {
  margin-top: 160px;
  padding: 0 15%;
}

@media (max-width: 768px) {
  .p-home__flow {
    padding: 0 5%;
    margin-top: 80px;
  }
}

.p-home__price {
  margin-top: 160px;
  padding: 0 15%;
}

@media (max-width: 768px) {
  .p-home__price {
    padding: 0 5%;
    margin-top: 80px;
  }
}

.p-home__contact {
  margin-top: 160px;
  padding: 0 15%;
}

@media (max-width: 768px) {
  .p-home__contact {
    padding: 0 5%;
    margin-top: 80px;
  }
}

.p-home__contact__form {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .p-home__contact__form {
    margin: 0;
  }
}

#top-area {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 12;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-image: url("../img/cork-board.png");
  font-family: "snap-font", sans-serif;
}

#top-area.is-open {
  height: 500px;
}

#top-area #logo {
  display: block;
}

#top-area #logo a {
  color: #331907;
}

#top-area #logo h1 {
  padding: 0;
  font-family: "snap-font", sans-serif;
  font-size: 30px;
}

#top-area #logo h1 a:hover {
  color: gray;
}

#top-area-wrapper {
  width: auto;
  padding: 19px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-slider {
  padding-top: 200px;
}

#home-slider img {
  width: 100%;
}

.p-home__content {
  width: 840px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .p-home__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .p-home__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.c-home__content .smb-price-menu {
  border-top: 0px solid black;
}

.c-home__content .smb-price-menu__item {
  border-bottom: 1px solid black;
}

.c-home__content_img {
  width: 50%;
  padding: 0 16px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20% 0 0 35%;
  position: relative;
}

.c-home__content_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20% 0 0 35%;
}

@media (max-width: 768px) {
  .c-home__content_img {
    width: 100%;
    padding: 0;
    border-radius: 10px 10px 0 0;
  }
  .c-home__content_img img {
    position: relative;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .c-home__content_img {
    width: 100%;
    padding: 0;
    border-radius: 10px 10px 0 0;
  }
  .c-home__content_img img {
    position: relative;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 10px 10px 0 0;
  }
}

.c-home__content_sentence {
  width: 50%;
  padding: 6px 16px;
  font-size: 16px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 30% 20% 0;
}

@media (max-width: 768px) {
  .c-home__content_sentence {
    width: auto;
    border-radius: 0 0 10px 10px;
    line-height: 36px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .c-home__content_sentence {
    width: auto;
    border-radius: 0 0 10px 10px;
    line-height: 36px;
  }
}

.content2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .content2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .content2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content2 .c-home__content_img {
  border-radius: 0 20% 35% 0;
  padding: 0 0 0 16px;
}

.content2 .c-home__content_img img {
  border-radius: 0 20% 35% 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .content2 .c-home__content_img {
    width: 100%;
    padding: 0;
    border-radius: 10px 10px 0 0;
  }
  .content2 .c-home__content_img img {
    position: relative;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .content2 .c-home__content_img {
    width: 100%;
    padding: 0;
    border-radius: 10px 10px 0 0;
  }
  .content2 .c-home__content_img img {
    position: relative;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 10px 10px 0 0;
  }
}

.content2 .c-home__content_sentence {
  padding: 16px;
  border-radius: 15% 0 0 10%;
}

@media (max-width: 768px) {
  .content2 .c-home__content_sentence {
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .content2 .c-home__content_sentence {
    border-radius: 0 0 10px 10px;
  }
}

.wpsm_counterbox {
  margin: 0 !important;
}

.p-header__menu__btn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: relative;
  margin: 0 0 0 auto;
  z-index: 12;
}

@media (min-width: 1025px) {
  .p-header__menu__btn {
    display: none;
  }
}

.p-header__menu__btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  left: 6px;
  background-color: #331907;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.p-header__menu__btn span:nth-child(1) {
  top: 10px;
}

.p-header__menu__btn span:nth-child(2) {
  top: 20px;
}

.p-header__menu__btn span:nth-child(3) {
  top: 30px;
}

.p-header__menu__btn.is-open span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.p-header__menu__btn.is-open span:nth-child(2), .p-header__menu__btn.is-open span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.p-header__menu__background {
  width: 100%;
  height: 100%;
  background-color: #999;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  position: fixed;
  z-index: 11;
}

.p-header__menu__background.is-open {
  display: block;
  opacity: 0.75;
  visibility: visible;
}

nav {
  margin: 0 0 0 auto;
}

nav .p-header__menu {
  height: 100%;
  font-family: "snap-font", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .p-header__menu li {
  padding-left: 25px;
}

nav .p-header__menu li a {
  color: #331907;
  position: relative;
  display: inline-block;
}

nav .p-header__menu li a::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .p-header__menu li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

nav .p-header__menu li:first-child {
  display: none;
}

@media (max-width: 768px) {
  nav .p-header__menu {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  nav .p-header__menu {
    display: none;
  }
}

.p-drop__menu {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: -50%;
  left: calc(50% - 60px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.p-drop__menu li {
  padding-bottom: 20px;
  font-size: 20px;
}

.p-drop__menu li a {
  position: relative;
  color: #331907;
  display: inline-block;
}

.p-drop__menu li a::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-drop__menu li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.p-drop__menu.is-open {
  z-index: 12;
  top: 20%;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .p-drop__menu.is-open {
    top: 10%;
  }
}

@media (min-width: 1025px) {
  .p-drop__menu {
    display: none;
  }
}

#post-loop {
  margin: 20px auto;
  padding: 0 15%;
}

@media (max-width: 768px) {
  #post-loop {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  #post-loop .post {
    width: 50%;
  }
}

#post-loop .post-background {
  width: 100%;
}

#post-loop .post-background img {
  height: auto;
}

#post-loop .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  #post-loop .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#post-loop .container .post {
  width: 100%;
  padding: 0;
  margin: 0;
  float: none;
}

#post-loop .container .post .post-background {
  position: relative;
}

#post-loop .container .post .post-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  position: absolute;
}

#post-loop .container .post .post-background a:hover {
  opacity: 0.2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #post-loop .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-post__title {
  padding-top: 5%;
  padding-left: 10px;
}

.c-post__title h2 {
  color: white;
  font-size: 1.6rem;
}

.c-post__date {
  color: white;
  font-size: 1rem;
  padding-left: 10px;
}

#page-title {
  padding-top: 80px;
  background-color: #ffffef;
}

#page-title .container h1 {
  color: black;
}

#page-title .container a {
  color: black;
}

#post-main {
  float: none;
  margin: 5% auto;
  width: 50% !important;
}

@media (max-width: 768px) {
  #post-main {
    width: 100% !important;
  }
}

.excerpt a {
  color: inherit;
}

.entry-content {
  color: black;
  border-color: black;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0;
}

@media (max-width: 768px) {
  .entry-content {
    padding: 0 5%;
  }
}

.entry-content h1 {
  font-size: 1.8rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content h3 {
  font-size: 1.3rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content h4 {
  font-size: 1.1rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content h5 {
  font-size: 1rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content h6 {
  font-size: 0.9rem;
  color: black;
  font-weight: 400 !important;
}

.entry-content a {
  color: blue;
}

.entry-content a:hover {
  color: gray;
}

.entry-content p {
  font-size: 1rem;
}

.entry-content li {
  font-size: 1rem;
}

.entry-content .is-style-sme-list-check li {
  font-size: 1rem;
  list-style: none;
}

.entry-content .is-style-sme-list-check li:before {
  top: calc(0.1rem);
}

.entry-content table {
  border: 1px solid black;
}

.entry-content table tbody {
  border: 1px solid black;
}

.entry-content table tbody tr {
  border: 1px solid black;
}

.entry-content table tbody tr td {
  border: 1px solid black;
}

.entry-content .is-style-sme-ordered-list-circle li:before,
.entry-content .is-style-sme-ordered-list-square li:before {
  top: calc(0.1rem);
}

.entry-content .smb-price-menu {
  border-color: black;
}

.entry-content .smb-price-menu__item {
  border-color: black;
}

#page-navigation {
  border-bottom: none;
}

.mw_wp_form {
  line-height: 24px;
}

.mw_wp_form span {
  font-size: 14px;
  padding: 2px 4px;
  margin-left: 5px;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.mw_wp_form input {
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid;
}

.mw_wp_form select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid;
}

.mw_wp_form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid;
}

.mw_wp_form .contact__button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border-bottom: 5px solid gray;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.mw_wp_form .contact__button:hover {
  margin-top: 13px;
  border-bottom: 2px solid gray;
}

.form input[type=submit] {
  -webkit-appearance: none;
}

.wp-pagenavi {
  text-align: center;
  margin-top: 80px;
}

.wp-pagenavi .pages {
  background-color: rgba(255, 255, 255, 0.5);
}

.wp-pagenavi .previouspostslink {
  background-color: rgba(255, 255, 255, 0.5);
}

.wp-pagenavi .nextpostslink {
  background-color: rgba(255, 255, 255, 0.5);
}

.wp-pagenavi .current {
  color: white;
  background-color: #f57c00;
  border: 0;
}

.wp-pagenavi .larger {
  background-color: rgba(255, 255, 255, 0.5);
}

.wp-pagenavi .smaller {
  background-color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=style.css.map */