#post-single-viewer{
    background-color: $main-color;
    text-align: center;
    img{
        max-width: 30%;
        height: auto;
        padding: 5% 0;
        @include breakpoint(sma){
            max-width: 100%;
        }
    }
}