#page-title{
    padding-top: 80px;
    background-color: $main-color;
    .container{
        h1{
            color: $main-font-color;
        }
            a{
            color: $main-font-color;
        }
    }
    }

