.wp-pagenavi{
    text-align: center;
    margin-top: 80px;
    .pages{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .previouspostslink{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .nextpostslink{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .current{
        color: white;
        background-color: #f57c00;
        border: 0;
    }
    .larger{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .smaller{
        background-color: rgba(255, 255, 255, 0.5);
    }
}