#footer{
    background-image: url("../img/cork-board.png");
    width: 100%;
    color: $cork-color;
    .container{
        h2{
            font-family:$main-font;
            color:$cork-color;
        }
        .widget{
            text-align: center;
            color: $main-font-color;
        }
    }
    .widget ul li a{
        color: $cork-color;
    }
    .widget ul li a:hover{
            color: gray;
        }
}
#footer-copyright{
    text-align: center;
    color:$cork-color;
}