#top-area{
    background-image: url("../img/cork-board.png");
    font-family: $main-font;
    #logo{
        h1{
            font-family: $main-font;
            font-size: 30px;
            padding-left: 10px;
        }
    }
}